@import "../../styles/variables";
@import "../../styles/breakpoint_manager";
.flippableCard {
  position: relative;
  height: 45vh;
  width: 40vw;
  perspective: 1500rem;
  border-radius: 10px;
  overflow: hidden;
  @include respondTo(mobile) {
    width: 95vw;
  }

  &__face {
    backface-visibility: hidden;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  &:hover &__back {
    transform: rotateY(0deg);
  }
  &:hover &__front {
    transform: rotateY(180deg);
  }
  &__front {
    background-color: black;
  }
  &__back {
    transform: rotateY(180deg);
    background: linear-gradient(
      14deg,
      rgba(42, 52, 56, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    &__content {
      font-size: $FONT-SIZE-TEXT;
      text-align: center;
      height: 100%;
      width: 100%;
      display: flex;
      gap: 2ch;
      flex-direction: column;
      justify-content: center;
      padding: 1ch;
      align-items: center;
      &__title {
        text-transform: uppercase;
        font-size: $FONT-SIZE-HEADING-SECONDARY;
      }
    }
  }
}
