@import "../../styles/variables";
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  font-size: $FONT-SIZE-HEADING-MAIN;
}
.nav__item {
  display: flex;
  flex-direction: row;
  font-size: $FONT-SIZE-HEADING-SECONDARY * 0.5;
  list-style: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.nav__button_group {
  display: flex;
  gap: 3rem;
  font-size: 1.8rem;
}
