.home {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  margin-block: 4rem;
  align-items: center;
  gap: 2rem;
  &__image {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
  }
  &__description {
    text-align: center;
  }
}

.socialMedia {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  &__item {
    list-style: none;
    &:hover {
      transform: scale(1.1);
    }
  }
}
