@import "../../styles/variables";
@import "../../styles/utils";
@import "../../styles/breakpoint_manager";

.skills {
  &:hover &__title::after {
    width: 50%;
  }
}

.skills__title {
  font-size: $FONT-SIZE-HEADING-MAIN;
  position: relative;
  @include addBottomLine(0%);
}

.skills__gallery {
  display: grid;
  gap: 10rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  font-size: $FONT-SIZE-TEXT;
  @include respondTo(mobile) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
