@import "../../styles/variables";
@import "../../styles/breakpoint_manager";
.moreAbout {
  margin: 0;
  display: flex;
  padding: 2vh;
  justify-content: center;
  align-items: center;
  &__backBtn {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }
  &__gallery {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    &__title {
      text-align: center;
      font-size: $FONT-SIZE-TEXT-LARGE * 1.2;
    }
    &__caption {
      text-align: center;
      font-size: $FONT-SIZE-TEXT;
    }
  }
}
