@import "../../styles/variables";

.project__name {
  margin: 0;
  padding: 0;
  font-size: $FONT-SIZE-HEADING-SECONDARY;
}
.project__item {
  flex: 2;
  padding: 1.5rem;
  gap: 2rem;
  box-shadow: -1px 2px 14px 4px rgba(0, 0, 0, 0.5);
  border-left: oldlace solid 0.05rem;
  -webkit-box-shadow: -1px 2px 14px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 2px 14px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  min-width: 30vmax;
  min-height: 30vh;
  flex-shrink: 0;
}
.project__main {
  display: flex;
  flex: 4;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}
.project__tech_stack {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;

  & > div {
    border: #fdfce5 solid 0.2rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: black;
    border-bottom: none;
    font-size: $FONT-SIZE-TEXT;
  }
  & > div:first-of-type {
    border-top: none;
  }

  & > div:last-of-type {
    border-bottom: #fdfce5 solid 0.2rem;
  }
}
.button {
  background-color: white;
  display: block;
  color: $COLOR-TEXT-SECONDARY;
  padding: 0.5rem;
  min-width: 7rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.2rem;
}

.button--disabled {
  background-color: grey;
  cursor: not-allowed;
}
.button__group {
  justify-self: flex-end;
  display: flex;
  gap: 1rem;
}
