$COLOR-BACKGROUND: #171717;
$COLOR-TEXT-PRIMARY: #fff;
$COLOR-TEXT-SECONDARY: #000;
$LAYOUT-PAGE-MARGIN-SMALL: 2.5vw;
$LAYOUT-PAGE-MARGIN-MEDIUM: 5vw;
$LAYOUT-PAGE-MARGIN-LARGE: 10vw;
$FONT-SIZE-HEADING-MAIN: 4rem;
$FONT-SIZE-HEADING-SECONDARY: 3rem;
$FONT-SIZE-TEXT: 1.5rem;
